<!DOCTYPE html>
<html>

<link rel="stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div style="text-align: center;">
  <img src="/assets/img/Logo.png" >
</div>

<div class="input-icons" style="text-align: center;">
    <i class="fa fa-search icon"></i>
    <input class="input-field" type="text" [(ngModel)]="searchQuery">
</div>

<div style="padding-top: 40px; text-align: center;">
<input class="button-custom" type="button" (click) = "getKeySkills()" style='margin-right:20px' value="Search top Skills for Job">
<input class="button-custom" type="button" (click) = "getPosts()" style='margin-right:20px' value="Search Jobs with Relevant Skills">
</div>

<div *ngIf="isSkill && !isNull" style="margin: auto;">
  <div style="width: 70%; display: table; margin: auto;">
        <div *ngFor="let skill of skillsNeeded" style="display: table-row; height: 20vh;">
            <div style="width: 30%; display: table-cell;">
              <canvas
                  baseChart
                  [data]=[1-skill.prop,skill.prop]
                  [chartType]="'doughnut'">
                  </canvas>
            </div>
            <div class="my_text" style="display: table-cell; vertical-align: middle;">
                {{(skill.prop * 100).toString().substring(0,4)}} % OF {{saveQuery.toUpperCase()}} MENTION: {{skill.word.toUpperCase()}}
            </div>
        </div>
    </div>
</div>

<div *ngIf="isJob && !isNull">
  <div style="width: 70%; display: table; margin: auto;">
        <div *ngFor="let j of relJobs" style="display: table-row; height: 20vh;">
            <div style="width: 30%; display: table-cell;">
              <canvas
                  baseChart
                  [data]=[1-j.proportion,j.proportion]
                  [chartType]="'doughnut'">
                  </canvas>
            </div>
            <div class="my_text" style="display: table-cell; vertical-align: middle;">
                {{(j.proportion * 100).toString().substring(0,4)}} % OF {{j.job.toUpperCase()}} MENTION {{j.word.toUpperCase()}}
            </div>
        </div>
    </div>
</div>

<div *ngIf="isNull">
  <div class="my_text" style="padding-top: 40px; text-align: center;">
      NO RESULTS FOUND
  </div>
</div>

</html>
